.content{
    margin-left: 350px;
    margin-top: 30px;
    height: 90%;
    bottom: 100px;
}
.contenedor{
    overflow: auto;
}

.cart{
    background-color: #B9B9B9;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
}
.cart:hover{
    background-color: gray;
    transition: box-shadow 0.5s ease-in-out;
}

.headerCard{
    margin: 10px;
    text-align: center;
    align-items: center;
    vertical-align: center;
    align-content: center;
    height: 80px;

}

.verticalLine{
    border-left: 2px solid white;
    height: 100px;
    position: absolute;
    left: 45%;
    padding-left: 15px;
    padding-right: 15px;

}

.text{
    text-align:left;
    color:black;
    font-weight:unset;
}
.text p{
    margin-top: 0px;
    margin-bottom: 5px;
}

.margen{
    /* Line 31 */

    position: absolute;
    width: 100px;
    height: 0px;
    top: 0px;

    border: 1px solid #FFFFFF;
    transform: rotate(142.73deg);
}

.margen2{
    /* Line 29 */

    position: absolute;
    width: 200px;
    height: 0px;
    top: -10px;

    border: 1px solid #FFFFFF;
    transform: rotate(141.43deg);

}

.margen3{
    /* Line 30 */

    position: absolute;
    width: 150px;
    height: 0px;
    top: 0px;
    right: -100px;
    border: 1px solid #FFFFFF;
    transform: rotate(141.19deg);
    padding-right: -100px;
}

.boton{
    position: fixed;
    bottom: 20px;
    left: 360px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    padding: 20px;
    height: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}