.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
}

.imagen {
    width: auto;
    height: 55px;

}

.bgAdmin {
    Background-color: rgb(21 47 71);
}

.menu:hover {
    background-color: rgb(47, 64, 80);
}

.vertical {
    border-left: 2px solid white;
    height: 50px;
    left: 50%;
}
.sidenav-icon {
    margin-right: 10px;
  }